/* GLOBAL */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul, ol{
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  --font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: var(--font-main);
  background: #f8fafc;
  color: #020618;
  font-size: 18px;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2, h3, h4 {
  text-wrap: balance;
}

a {
  text-decoration: none;
  color: inherit;
}

img, picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Animation Class: Fades in and slides up slightly */
.fade-in {
    animation: fadeInEffect 0.5s ease-in-out;
}

@keyframes fadeInEffect {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.wrap {
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 576px;

  @media only screen and (min-width: 576px) {
    padding-left: 0;
  padding-right: 0;
  }
}

p {
  font-size: 0.875em;
  font-weight: 400;
  text-align: justify;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 600;
  font-size: 1.25em;
}

h3 {
  font-size: 1.125em;
  font-weight: 500;
  color: #62748e;
}
.btn-pill {
  font-size: 0.75em;
  font-weight: 100;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 0.5rem 1.25rem;
  background: #020618;
  color: #f8fafc;
  border-radius: 999px;
  text-decoration: none;
  transition: 0.2s ease;
}

.btn-pill:hover {
  background: #0a143d;
}

.btn-pill .arrow {
  display: inline-block;
  transition: transform 0.2s ease;
}

.btn-pill:hover .arrow {
  transform: translateX(4px);
}

.line {
  height: 2px;
  width: 100%;
  background: #edf1f5;
}
/* GLOBAL */

/* HEADER */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 3rem;
  margin-bottom: 3rem;

  .openMenu {
    @media only screen and (min-width: 420px) {
      visibility: hidden;
    }
  }

  .nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    visibility: hidden;
    transition: all .3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    .closeMenu {
      position: absolute;
      top: 3.2rem;
      right: 1.5rem;

      @media screen and (min-width: 420px) {
        visibility: hidden;
      }
    }

    @media only screen and (min-width: 420px) {
      position: relative;
      width: fit-content;
      height: fit-content;
      background: none;

      flex-direction: row;

      visibility: visible;
    }
  }
}

.nav__menu.open {
  visibility: visible;
}
/* HEADER */

/* PROJECTS */
.projects {
  margin-bottom: 3rem;
}

.project__card {
  border-radius: 1rem;
  background: #edf1f5;
  padding: 1rem;
  margin-bottom: 2rem;
  transition: .3s ease-in-out;
}

.project__card:hover {
  background: #e5e7e9;
}

.project__card img.project__image {
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.project__title {
  font-size: 1em;
  font-weight: 600;
  color: #2f3f55;
  margin-bottom: 0.25rem;
}

.project__description {
  color: #62748e;
}

/* PROJECTS */

/* ACHIEVEMENTS */

/* ACHIEVEMENTS */

/* FOOTER */
footer {
  font-size: 0.75em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
/* FOOTER */