:root {
    --color-900: hsl(0, 0%, 8%);
    --color-700: hsl(0, 0%, 12%);
    --color-400: hsl(0, 0%, 20%);
    --color-100: hsl(0, 0%, 100%);
    --color-lime: hsl(75, 94%, 57%);

    --fs-900: 2rem;
    --fs-600: 1.5rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-100: 0.875rem;

    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;
    --fw-400: 400;
    --fw-100: 100;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    scroll-behavior: smooth;
}

ul, 
li {
    list-style: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-rendering: optimizeSpeed;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    color: var(--color-100);
    background: var(--color-900);
}

img, picture {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1;
}

a {
    text-decoration: none;
    display: inline-block;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.container {
    padding: 2rem;
}

.bg-700 { background: var(--color-700); }
.bg-400 { background: var(--color-400); }

.fc-100 { color: var(--color-100); }
.fc-lime { color: var(--color-lime); }

.fs-900 { font-size: var(--fs-900); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-100 { font-size: var(--fs-100); }

.fw-600 { font-weight: var(--fw-600); }
.fw-500 { font-weight: var(--fw-500); }
.fw-400 { font-weight: var(--fw-400); }
.fw-100 { font-weight: var(--fw-100); }

.ln-100 { line-height: 1.1; }

.flex { display: flex; }

.ai-c { align-items: center; }
.jc-c { justify-content: center; }

.grid { display: grid; }

.br { border-radius: 0.5rem; }

.radius { border-radius: 100%;}
