.link {
    font-size: var(--fs-500);
    padding: 0.5rem 1rem;
    background: var(--color-400);
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    transition: background 0.5s ease;
}

.link a {
    width: 100%;
}

.link:hover {
    background: var(--color-lime);
}